.singlePost{
    flex: 9;
}

.singlePostImg{
    width: 100%;
    height: 450px;
    border-radius: 5px;
    object-fit: cover;
}

.singlePostWrapper{
    padding: 20px;
    padding-right: 0;
}

.singlePostTitle{
    text-align: center;
    font-family: "Karla", sans-serif;
    font-size: 30px;
}

.singlePostEdit{
    float: right;
    font-size: 24px;
}

.singlePostIcon{
    margin-left: 10px;
    cursor: pointer;
}

.singlePostIcon:first-child{
    color: blue;
}

.singlePostIcon:last-child{
    color: tomato;
}

.singlePostInfo{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-family: 'Karla', 'sans-serif';
    font-style: italic;
    color: cadetblue;
}

.singlePostDesc{
    font-family: 'Karla', 'sans-serif';
    font-size: 18px;
    line-height: 25px;
}

.singlePostDesc::first-letter{
    margin-left: 20px;
    font-size: 30px;
    font-weight: 700;
}