.post{
    width: 385px;
    margin: 0px 25px 40px 25px;
}

.postImg{
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 7px;
}

.postInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postCat{
    font-family: 'Karla', 'sans-serif';
    font-style: 11px;
    color: blue;
    line-height: 20px;
    margin-top: 15px;
    margin-right: 10px;
    cursor: pointer;
}

.postTitle{
    font-family: 'Karla', 'sans-serif';
    font-style: 24px;
    font-weight: 800;
    margin-top: 15px;
    cursor: pointer;
}

.postDate{
    font-family: 'Karla', 'sans-serif';
    font-style: italic;
    font-size: 13px;
    color: cadetblue;
    margin-top: 15px;
}

.postDesc{
    font-size: 14px;
    color: #444;
    line-height: 24px;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
}